@media screen and (max-width: 1700px) {
    .recently-album6{
        display: none;
    }
}
@media screen and (max-width: 1400px) {
    .recently-album5{
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .recently-album4{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .recently-album3{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
        #buttonscont{
            display: none;
        }
}