::-webkit-scrollbar {
    width: 15px;
    height: 10px;
    overflow: overlay
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px black; 
    background: rgb(83, 83, 83); 
    border-radius: 10px;
    overflow: overlay
  }
   
  ::-webkit-scrollbar-thumb {
    background: #adff2f; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #619b0a; 
  }
