*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside, header, main, footer{
    color: white;
    font-family: 'Montserrat', sans-serif;
}



aside{
    position: fixed;
    z-index: 300;
    height: 100vh;
    width: 250px;
    background-color: #000000;
    padding-top: 20px;
}
aside img{
    width: 150px;
    padding-left: 20px;
}
aside a{
    margin-bottom: 900px;
}
aside ul{
    padding-top: 30px;
}
aside li{
    margin-bottom: 15px;
    display: block;
    color: white;
    list-style: none;
    font-size: 20px;
}
aside li a{
    color: #a3a3a3;
    text-decoration: none;
    padding-left: 20px;
}
aside li a:hover{
    padding-left: 17px;
    border-left: 3px solid #adff2f;
    color: white;
}
aside>section{
    padding-left: 20px;
}
aside>section>div>i{
    font-size: 40px;
}
aside>section>div{
    display: flex;
    align-items: center;
}
section>div:first-child{
    padding-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}
aside div>svg{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    display: block;
}













header{
    position: fixed;
    z-index: 100;
    height: 120px;
    width: 100%;
    background-color: #080B12;
    left: 0;
    top: 0;

}
header div{
    left: 200px;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 18px;
    float: right;
    margin: 30px;
}
header div:hover{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 28px;
    background-color: #202531;
}
header a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
}














main{
    height: 100vh;
    width: 100%;
    background-color: #141922;
}
#container-main{
    height: calc(100vh - 120px);
    padding-top: 120px;
    padding-left: 250px;
}

#buttons{
    display: flex;
    justify-content: center;
}
#buttons a{
    margin: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}






























footer{
    position: fixed;
    z-index: 400;
    height: 120px;
    width: 100%;
    background-color: #282828;
    left: 0;
    bottom: 0;
}