*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside, header, main, footer{
    color: white;
    font-family: 'Montserrat', sans-serif;
}



aside{
    position: fixed;
    z-index: 300;
    height: calc(100vh - 120px);
    width: 250px;
    background-color: #000000;
    padding-top: 20px;
}
aside img{
    width: 150px;
    padding-left: 20px;
}
aside a{
    margin-bottom: 900px;
}
aside ul{
    padding-top: 30px;
}
aside li{
    margin-bottom: 15px;
    display: block;
    color: white;
    list-style: none;
    font-size: 20px;
}
aside li a{
    color: #a3a3a3;
    text-decoration: none;
    padding-left: 20px;
}
aside li a:hover{
    padding-left: 17px;
    border-left: 3px solid #adff2f;
    color: white;
}
aside>section{
    padding-left: 20px;
}
aside>section>div>i{
    font-size: 40px;
}
aside>section>div{
    display: flex;
    align-items: center;
}
aside>section>:first-child{
    padding-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}
#dw{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
}
#dw hr{
    margin: 10px 0;
}

aside div h2>svg{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}
aside div h2{
    display: flex;
    align-items: center;
}
aside div a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}












header{
    position: fixed;
    z-index: 100;
    height: 120px;
    width: 100%;
    background-color: #080B12;
    left: 0;
    top: 0;

}
header div{
    left: 200px;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 18px;
    float: right;
    margin: 30px;
}
header div:hover{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 28px;
    background-color: #202531;
}
header a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
}














main{
    height: 100vh;
    width: 100%;
    background-color: #141922;
}
#container-main{
    height: calc(100vh - 120px);
    padding-top: 120px;
    padding-left: 250px;
}

#buttonscont{
    display: flex;
    justify-content: center;
}
#buttonscont a{
    position: relative;
    margin: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.buttons:hover::after{
    position: absolute;
    bottom: 0;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #adff2f;
    top: 24px;
    left: calc((100% - 30px) / 2);
}

#recently-section{
    width: 100%;
    height: 300px;
    background-color: red;
}
main h1{
    width: 100%;
}
#first-row-items{
    display: flex;
    justify-content: space-around;
}
.recently-album{
    display: inline-block;
    width: 300px;
    height: 300px;
}
.album-cover{
    display: inline-block;
    width: 90%;
    height: 100%;
    background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.album-cover1{
    padding-top: 0;
    background-image: url(../jojo-covers/d4c.jpg);
}
.album-cover2{
    background-image: url(../jojo-covers/holy-diver.png);
}
.album-cover3{
    background-image: url(../jojo-covers/killer-queen.jpg);
}
.album-cover4{
    background-image: url(../jojo-covers/king\ crimson.jpg);
}
.album-cover5{
    background-image: url(../jojo-covers/kiss.jpg);
}
.album-cover6{
    background-image: url(../jojo-covers/thusk.jpg);
}























footer{
    position: fixed;
    z-index: 400;
    height: 120px;
    width: 100%;
    background-color: #282828;
    left: 0;
    bottom: 0;
}
footer #now-playing{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
footer h2, footer, h3{
    display: block;
}
footer img{
    width: 50px;
}