*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside, header, main, footer{
    color: white;
    font-family: 'Montserrat', sans-serif;
}



aside{
    position: fixed;
    z-index: 300;
    height: calc(100vh - 120px);
    width: 250px;
    background-color: #000000;
    padding-top: 20px;
}
aside img{
    width: 150px;
    padding-left: 20px;
}
aside a{
    margin-bottom: 900px;
}
aside ul{
    padding-top: 30px;
}
aside li{
    margin-bottom: 15px;
    display: block;
    color: white;
    list-style: none;
    font-size: 20px;
}
aside li a{
    color: #a3a3a3;
    text-decoration: none;
    padding-left: 20px;
}
aside li a:hover{
    padding-left: 17px;
    border-left: 3px solid #adff2f;
    color: white;
}
aside>section{
    padding-left: 20px;
}
aside>section>div>i{
    font-size: 40px;
}
aside>section>div{
    display: flex;
    align-items: center;
}
aside>section>:first-child{
    padding-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}
#dw{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
    background-color: #000000;
}
#dw hr{
    margin: 10px 0;
}

aside div h2>svg{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}
aside div h2{
    display: flex;
    align-items: center;
}
aside div a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}












header{
    position: fixed;
    z-index: 100;
    height: 120px;
    width: 100%;
    background-color: #080B12;
    left: 0;
    top: 0;

}
header div{
    left: 200px;
    text-transform: uppercase;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 18px;
    float: right;
    margin: 30px;
}
header div:hover{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 28px;
    background-color: #202531;
}
header a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
}














main{
    width: 100%;
    background-color: #141922;
}
main>#container-main>section>h1:first-child{
    margin-left: 3%;
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}
#creato-per, #artisti{
    margin-top: 50px;
}
#container-main{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 250px;
}
#buttonscont{
    display: flex;
    justify-content: center;
}
#buttonscont a{
    position: relative;
    margin: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.buttons:hover::after{
    position: absolute;
    bottom: 0;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #adff2f;
    top: 24px;
    left: calc((100% - 30px) / 2);
}

#recently-section{
    width: 100%;
}
#recently-section h1, #creato-per h1, #artisti h1{
    padding: 10px 0 5px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
#recently-section h2, #creato-per h2, #artisti h2{
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: #7d7f84;
}
main h1{
    width: 100%;
}
#first-row-items{
    display: flex;
    justify-content: space-around;
}
.recently-album{
    display: inline-block;
    width: 300px;
    height: 300px;
}
.album-cover{
    display: inline-block;
    width: 90%;
    margin: 5%;
    height: 100%;

}
.album-cover img{
    width: 100%;
}



.creato-box{
    display: inline-block;
    width: 300px;
    height: 300px;
}
.creato-box-playlist{
    display: inline-block;
    width: 90%;
    margin: 5%;
    height: 100%;
}
.creato-box-playlist img{
    width: 100%;
}


.artisti-box{
    display: inline-block;
    width: 300px;
    height: 300px;
}
.artisti-box-image{
    display: inline-block;
    width: 90%;
    margin: 5%;
    height: 100%;
}
.artisti-box-image img{
    width: 100%;
    border-radius: 100%;
}




















footer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 400;
    height: 120px;
    width: 100%;
    background-color: #282828;
    left: 0;
    bottom: 0;
}
footer #now-playing{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
footer #now-playing section i{
    margin: 0 5px;
    color: #7e7e7e;
}
footer h2, footer h3{
    display: block;
}
footer h2{
    font-size: 17px;
    margin-right: 20px;
}
footer h3{
    font-size: 15px;
    color: #979797;
}
footer img{
    width: 50px;
}
#bar{
    width: 40%;
}
footer #bar i{
    color: white;
    font-size: 20px;
    margin: 0 20px;
}
footer .controls, footer .progress-bar-box1{
    display: flex;
    justify-content: center;
}
footer .progress-bar-box1{
    display: flex;
    align-items: center;
}
footer .progress-bar-box1 h4{
    margin: 0 20px;
}
footer .progress-bar-back1{
    background-color: #343434;
    border-radius: 2px;
    height: 4px;
    width: calc(100% + 600px);
}
footer .progress-bar-front1{
    width: 30%;
    height: 100%;
    border-radius: 2px;
    background-color: #7e7e7e;
}
























footer .controls, footer #audio{
    display: flex;
    justify-content: center;
}
footer #audio{
    display: flex;
    align-items: center;
}
footer #audio i{
    margin: 0 10px;
}

footer .progress-bar-back2{
    margin: 0 10px;
    background-color: #343434;
    border-radius: 2px;
    height: 4px;
    width: 150px;
}
footer .progress-bar-front2{
    width: 90%;
    height: 100%;
    border-radius: 2px;
    background-color: #7e7e7e;
}