*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
aside, header, main, footer{
    color: white;
    font-family: 'Montserrat', sans-serif;
}


aside{
    position: fixed;
    z-index: 300;
    height: 100vh;
    width: 250px;
    background-color: #000000;
    padding-top: 20px;
}
aside img{
    width: 150px;
    padding-left: 20px;
}
aside a{
    margin-bottom: 900px;
}
aside ul{
    padding-top: 30px;
}
aside li{
    margin-bottom: 15px;
    display: block;
    color: white;
    list-style: none;
    font-size: 20px;
}
aside li a{
    color: #a3a3a3;
    text-decoration: none;
    padding-left: 20px;
}
aside li a:hover{
    padding-left: 17px;
    border-left: 3px solid #adff2f;
    color: white;
}
aside #aside-v1>section{
    padding-left: 20px;
}
aside #aside-v1>section>div>i{
    font-size: 40px;
}
aside #aside-v1>section>div{
    display: flex;
    align-items: center;
}
aside #aside-v1>section>:first-child{
    padding-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}
#dw{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0 20px;
    background-color: #000000;
}
#dw hr{
    margin: 10px 0;
}
#dw h2{
    padding-bottom: 10px;
}

aside div h2>svg{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}
aside div h2{
    display: flex;
    align-items: center;
}
aside div a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#nome-playlist-list{
    height: calc((100vh /4) + 80px);
    overflow: auto;
    margin-bottom: 2100px;
}












#aside-v2{
    display: none;
    height: 100%;
}
#aside-v2 img{
    position: relative;
    padding: 0;
    left: 10px;
    width: 60px;
}
#aside-v2 li{
    font-size: 40px;
}
#aside-v2 svg{
    height: 60px;
    width: 60px;
    margin-left: 10px;
    background-color: gray;
    border-radius: 50%;
}
#aside-v2 ul:last-child{
    position: absolute;
    bottom: 10px;
}




































































header, main, footer{
    padding-left: 250px;
}
body{
    background-image: url(../../jojo-covers/jojo-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    overflow: overlay
}
header{
    width: 100%;
    height: 400px;
}
#header-text{
    position: relative;
    top: 180px;
    padding-left: 30px;
}
header h1{
    font-size: 80px;
    margin: 20px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
header h1, header h2{
    text-shadow: 0px 0px 10px black;
}
header h2 i{
    color: blue;
}





















#container-popolari{
    width: 100%;
    background-color: #141922;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
    padding-bottom: 40px;
}
#bottoni-seguiti{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
#bottoni-seguiti i, #bottoni-seguiti div{
    display: inline;
    font-size: 20px;
    margin-right: 20px;
}
#lista-brani-popolari{
    margin-top: 30px;
}
#lista-brani-popolari>h1{
    font-size: 25px;
    margin-bottom: 20px;
}


#bottoni-seguiti i:first-child{
    color: green;
    font-size: 50px;
}
#bottoni-seguiti div{
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 3px;
}

ol li{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ol li img{
    width: 40px;
    margin-left: 10px;
}
ol li h3{
    font-size: 16px;
    color: lightgray;
}

ol li div{
    width: 27%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ol li div:last-child{
    width: 15%;
}











































#lista-album{
    margin-top: 130px;
    padding: 20px 0 60px 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #141922;
}



#recently-section{
    width: 100%;
}
#first-row-items h1{
    padding: 10px 0 5px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
#lista-album h1{
    font-size: 25px;
    margin-top: 20px;
    padding-left: 20px;
}
#recently-section h2, #creato-per h2, #artisti h2{
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: #7d7f84;
}
main h1{
    width: 100%;
}
#first-row-items{
    display: flex;
    justify-content: space-around;
}
.album-size{
    display: inline-block;
    width: calc((100% / 6));
}
.product-size{
    display: inline-block;
    width: calc((100% / 6));
}
.album-cover{
    display: inline-block;
    width: 90%;
    margin: 5%;
    height: 100%;

}
.album-cover img{
    width: 100%;
}



.creato-box{
    display: inline-block;
    width: 300px;
    height: 300px;
}
.creato-box-playlist{
    display: inline-block;
    width: 90%;
    margin: 5%;
    height: 100%;
}
.creato-box-playlist img{
    width: 100%;
}


.artisti-box{
    display: inline-block;
    width: 300px;
    height: 300px;
}
.artisti-box-image{
    display: inline-block;
    width: 90%;
    margin: 5%;
    height: 100%;
}
.artisti-box-image img{
    width: 100%;
    border-radius: 100%;
}
main img:hover:not(#third-row-items img){
    animation-name: image-hover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes image-hover {
    from{
        opacity: 1;
        background-color: #141922;
        border-radius: 0;
    }
    to{
        opacity: 0.5;
        background-color: black;
        border-radius: 5px;
    }
}
.img-container{
    position: relative;
}
ins{
    z-index: 600;
}

/*first row*/
#first-row-items .img-container>ins{
    position: absolute;
    display: none;
    top: 85%;
    left: 90%;
    font-size: 40px;
    padding: 5px 14px;
    border-radius: 50%;
    background-color: rgb(13, 194, 13);
}
#first-row-items .img-container:hover ins{
    display: block;
    animation-name: ins-hover1;
    animation-duration: 1s;
}
@keyframes ins-hover1 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*third row*/

#third-row-items .img-container>ins{
    position: absolute;
    display: none;
    top: 85%;
    left: 90%;
    font-size: 30px;
    padding: 12px 14px;
    border-radius: 50%;
    background-color: blue;
}
#third-row-items .img-container:hover ins{
    display: block;
    animation-name: ins-hover3;
    animation-duration: 1s;
}
#products-row{
    display: flex;
    width: 150%;
}
#third-row-items{
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: 30px;
    margin-top: 30px;
}
.product-size{
    width: 800px;
}

@keyframes ins-hover3 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




















#lista-negozio{
    margin-top: 130px;
    padding: 20px 0 60px 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: linear-gradient(180deg, #141922, #0B1913);
    width: 100%;
    overflow-x: auto;
    margin-bottom: 200px;
    overflow-y: hidden;
}
#lista-negozio h1{
    text-align: center;
    font-size: 20px;
}
#lista-negozio>h1{
    text-align: left;
    font-size: 25px;
    margin-top: 20px;
    padding-left: 20px;
}


#lista-negozio h2{
    text-align: center;
    font-size: 16px;
    color: rgb(170, 170, 170);
}

#container-negozio{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    word-break: break-all;
}
.img-container>img{
    z-index: 599;
}

.img-container>img:hover{
    animation-fill-mode: forwards;
    animation-name: product-hover;
    animation-duration: 1s;
}

@keyframes product-hover {
    from{
        border-radius: 0;
    }
    to{
        border-radius: 15px;
    }
}












