*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



aside{
    position: fixed;
    z-index: 300;
    height: 100vh;
    width: 250px;
    background-color: #000000;
    padding-top: 20px;
}
aside img{
    width: 150px;
    padding-left: 20px;
}
aside a{
    margin-bottom: 900px;
}
aside ul{
    padding-top: 30px;
}
aside li{
    margin-bottom: 15px;
    display: block;
    color: white;
    list-style: none;
    font-size: 20px;
}
aside li a{
    color: #a3a3a3;
    text-decoration: none;
    padding-left: 20px;
}
aside li a:hover{
    padding-left: 17px;
    border-left: 3px solid #adff2f;
    color: white;
}
aside #aside-v1>section{
    padding-left: 20px;
}
aside #aside-v1>section>div>i{
    font-size: 40px;
}
aside #aside-v1>section>div{
    display: flex;
    align-items: center;
}
aside #aside-v1>section>:first-child{
    padding-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}
#dw{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
    background-color: #000000;
}
#dw hr{
    margin: 10px 0;
}

aside div h2>svg{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}
aside div h2{
    display: flex;
    align-items: center;
}
aside div a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#nome-playlist-list{
    height: calc((100vh /4) + 80px);
    overflow: auto;
    margin-bottom: 2100px;
}












#aside-v2{
    display: none;
    height: 100%;
}
#aside-v2 img{
    position: relative;
    padding: 0;
    left: 10px;
    width: 60px;
}
#aside-v2 li{
    font-size: 40px;
}
#aside-v2 svg{
    height: 60px;
    width: 60px;
    margin-left: 10px;
    background-color: gray;
    border-radius: 50%;
}
#aside-v2 ul:last-child{
    position: absolute;
    bottom: 10px;
}




































































header, main, footer{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 250px;
}
body{
    background-image: url(../../jojo-covers/jojo-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}
header{
    width: 100%;
    height: 400px;
}
#header-text{
    position: relative;
    top: 180px;
    left: 30px;
}
header h1{
    font-size: 80px;
    margin: 20px 0;
}
header h1, header h2{
    text-shadow: 0px 0px 10px black;
}
header h2 i{
    color: blue;
}
#bottoni-seguiti{
    display: inline-block;
}





















#container-main{
    width: 100%;
    height: 500px;
    background-color: #141922;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
footer{
    height: 2000px;
}